*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
body{
    
    background: #FAFAFA;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;

}

.section-img{
    position: relative;
    top: 45px;
}


/* img */
.cell{
    height: 650px;

}

.logo{
    margin-bottom: 45px;
    
}

.logo-app{
    width: 150px;
}

.img-cell{
    position: absolute;
    height: 554px;
    left: 160px;
    top: 28px;
}






.caixa-um{
  
    display: flex;
    flex-direction: column;
    border: 1px solid #dbdbdb;
    
    padding: 50px 40px 20px 40px;
    
    
}

.section-login{
    width: 350px;
}


input{
    height: 36px;
    outline: none;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    padding-left: 5px;
    margin-top: 5px;
    color: #262626;
}

button {
    background: #0095f6;
    height: 30px;
    border-radius: 3px;
    border: none;
    color: #ffffff; 
    margin-top: 20px;
    cursor: pointer;
}


.login-facebook{
    
        color: #385185;
        font-weight: bold;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        cursor: pointer;
        font-size: 14px;
}

.esqueceu-a-senha{
    color: #385185;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
}


.container-cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: 1px solid #dbdbdb;
    padding-top: 20px;
    padding-bottom: 20px;
}

.link-cadastro{
    color: #0095f6;
    font-weight: bold;
    font-size: 14px;
    margin-left: 5px;
    cursor: pointer;
}


.paragrafo-conta {
    font-size: 14px;
}

.paragrafo-app{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.container-app {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#troca-img{
    transition: opacity 1s ease; /* Define a transição de opacidade com duração de 1 segundo e uma curva de easing suave */

}


@media screen and (max-width: 900px ){

    .section-img{
        display: none;
    }


}